<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <!-- Website Icon -->
    <link rel="icon" href="images/website_icon.png">

    <!-- Website Title -->
    <title>Donation</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="css/donation.css">

    <!-- Font Awesome Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>

  <body>

    <!-- Header Section, or Navigation Bar-->
    <header>

      <img class="icon" src="images/website_icon.png" alt="icon">

      <a class="brand_name" href="index.html">Care Taker</a>

      <nav>
        <ul class="nav_links">
          <!-- <li class="nav_item"><a href="#">About Us</a></li> -->
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="/adoption">Adoption</a></li>
          <li class="nav_item"><a href="/donation">Donation</a></li>
          <li class="nav_item"><a href="/child_labour">Child Labour</a></li>
          <!-- <li class="nav_item"><a href="#">Contact Us</a></li> -->
        </ul>
      </nav>

    </header>

    <!-- Introduction Section -->
    <div class="intro_section">

      <p class="intro_heading">HELP US TO CHANGE LIVES</p>

      <hr class="horizontal_line">

      <div class="intro_images">
        <img src="images/donation_image_2.png" alt="donation_image">
      </div>

      <p class="intro_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>

    <!-- Donate Money Section -->
    <div class="money_section">

      <p class="intro_heading">DONATE FINANCIALLY</p>

      <hr class="horizontal_line">

      <div class="intro_images">
        <img src="images/donation_image_3.jpg" alt="donation_image">
      </div>

      <p class="intro_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a class="donate_button" href="#">DONATE</a>

    </div>

    <div class="goods_section">

      <p class="intro_heading">DONATE STUFFS</p>

      <hr class="horizontal_line">

      <div class="intro_images">
        <img src="images/donation_image.jpg" alt="donation_image">
      </div>

      <p class="intro_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a class="donate_button" href="#">DONATE</a>

    </div>


    <!-- Footer Section -->
    <footer>

      <div class="footer_logos"> <!-- fonts -->
        <a class="footer_fb" href="#"><i class="social-icon fab fa-facebook-f"></i></a>
        <a class="footer_tweeter" href="#"><i class="social-icon fab fa-twitter"></i></a>
        <a class="footer_insta" href="#"><i class="social-icon fab fa-instagram"></i></a>
        <a class="footer_youtube"href="#"><i class="social-icon fab fa-youtube"></i></a>
        <a class="footer_gmail" href="#"><i class="social-icon fas fa-envelope"></i></a>
      </div>
      <p class="footer_copyright">© Copyright 2021 - Care Taker</p>

    </footer>

  </body>
</html>
